<h1>Listing book ratings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Book id</th>
      <th>Rate</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.book_id %></td>
        <td><%= info.rate %></td>
        <td><%= info.title %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
